<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>


    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="planta">001</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Bulbasaur</h2>
            <ion-badge color="planta">Grass</ion-badge>
            <ion-badge color="poison">Poison</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="fogo">004</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Charmander</h2>
            <ion-badge color="fogo">Fire</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="agua">007</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Squirtle</h2>
            <ion-badge color="agua">Water</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="electric">025</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Pikachu</h2>
            <ion-badge color="electric">Electric</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="fogo">037</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Vulpix</h2>
            <ion-badge color="fogo">Fire</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/037.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="fogo">058</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Growlithe</h2>
            <ion-badge color="fogo">Fire</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/058.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="agua">131</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Lapras</h2>
            <ion-badge color="agua">Water</ion-badge>
            <ion-badge color="ice">Ice</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/131.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="normal">143</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Snorlax</h2>
            <ion-badge color="normal">Normal</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/143.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="psiquico">151</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Mew</h2>
            <ion-badge color="psiquico">Psychic</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/151.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="electric">179</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Mareep</h2>
            <ion-badge color="electric">Electric</ion-badge>
          </div>
          </ion-label>

        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/179.png">
        </ion-thumbnail>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">Alterar</ion-item-option>       
        <ion-item-option color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-content>